html, body {
    height:100%;
}
body {
    color:#666;
    background-color:#fff;
    font-family:'Open Sans',Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;

    font-size:14px; line-height:1.5;
    margin:0; padding:0;
}
/* 全局样式 */
body.has-image-bg section,
body.has-video-bg section {
    background-color:#fff;
}

body #wrapper {/* used by RTL*/
    overflow:hidden;
    min-height:100%; /*  because short page hide long menus */
}

body.bg-grey,
body.bg-grey #wrapper {
    background-color:#f1f2f7;
}

section {
    display: block;
    position: relative;
    padding: 80px 0;
    border-bottom:rgba(0,0,0,0.1) 1px solid;

    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;

    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    background-size: cover !important;
    box-sizing: border-box !important;
}
section:after,
section:before {
    content:" ";
    display:table;
}

section header.section-header {
    margin-bottom:80px;
}

div.alternate,
section.alternate {
    background-color:rgba(0,0,0,0.02);
}

section.dark {
    background-color:#212121;
    border-bottom:rgba(255,255,255,0.1) 1px solid;
}
section.dark.alternate {
    background-color:#151515;
}
section.theme-color,
section.theme-color h1,
section.theme-color h2,
section.theme-color h3,
section.theme-color h4,
section.theme-color h5,
section.theme-color h6,
section.theme- p,
section.dark,
section.dark p,
section.dark h1,
section.dark h2,
section.dark h3,
section.dark h4,
section.dark h5,
section.dark h6 {
    color:#fff;
}
section.padding-xxs {
    padding:30px 0;
}
section.padding-xs {
    padding:60px 0;
}
section.padding-md {
    padding:80px 0;
}
section.padding-lg {
    padding:120px 0;
}
section.padding-xlg {
    padding:140px 0;
}
section.dark a {
    color:#999;
}
section.parallax {
    border:0;
}

body.bg-grey,
body.bg-grey #wrapper {
    background-color:#f1f2f7;
}
.container {
    position:relative;
}

a:active,
a:focus,
a:hover {
    color: #212121;
    text-decoration:none;
}


/* 链接样式表 */
a.href-reset,
.href-reset a {
    color:#121212;
}
section.dark a.href-reset,
section.dark .href-reset a {
    color:#eee;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color:#121212;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color:#888;
}

section.dark h1 a,
section.dark h2 a,
section.dark h3 a,
section.dark h4 a,
section.dark h5 a,
section.dark h6 a {
    color:#eee;
}

section.dark h1 a:hover,
section.dark h2 a:hover,
section.dark h3 a:hover,
section.dark h4 a:hover,
section.dark h5 a:hover,
section.dark h6 a:hover {
    color:#fff;
}

section header>h1,
section header>h2,
section header>h3,
section header>h4,
section header>h5,
section header>h6 {
    margin:0;
}

small {
    font-family: 'Lato', sans-serif;
}
label {
    display:block;
}


/* form control: inputs, textarea, etc */
.btn {
    position:relative;
}
.btn-default {
    border-width:2px;
}

.btn>.label-absolute {
    position:absolute;
    right:-6px;
    top:-8px;
}



.input-group-addon {
    border:#ddd 2px solid;
    border-right:0;
}
section.dark .input-group-addon {
    background-color:#212121;
    border-color:#666;
    color:#eaeaea;
}
.form-control {
    border:#ddd 2px solid;
    box-shadow:none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
section .input-group-btn .btn.btn-default,
section .input-group-btn button.btn-default {
    border-width:2px;
    border-color:#ddd;
}
.form-control:focus {
    border-color:#c6c6c6;
}
section.dark .form-control {
    border-color:#666;
    background-color: rgba(255,255,255,0.05);
}
section.dark .form-control:focus {
    border-color:#999;
}



.nav-tabs>li>a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.label {
    padding:.4em .6em .4em;
}


/* DARK PRESETS */
section.dark input,
section.dark select,
section.dark textarea {
    color:#fff;
}
section.dark .btn {
    color:#fff;
}
section.dark .thumbnail {
    border-color:#444;
    background-color:transparent;
}
section.dark h1.page-header,
section.dark h2.page-header,
section.dark h3.page-header,
section.dark h4.page-header,
section.dark h5.page-header,
section.dark h6.page-header {
    border-bottom-color:#666;
}


/* fonts */
.font-open-sans {
    font-family:'Open Sans',Arial,Helvetica,sans-serif !important;
}
.font-lato {
    font-weight:300;
    font-family:'Lato',Arial,Helvetica,sans-serif !important;
}
.font-raleway {
    font-family:'Raleway',Arial,Helvetica,sans-serif !important;
}



/*
	GLOBAL RADIUS
	Add here all needed bootstrap elements
*/
pre,
.alert,
.panel,
.navbar-toggle,
.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*
	bootstrap rewrite
*/
img.img-responsive {
    display:inline-block;
}


/* cover video */
.cover-video {

}




/** Boxed
 **************************************************************** **/
body.boxed {
    background-color:#f1f2f7;
}
body.boxed section {
    background-color:#fff;
}
body.boxed #wrapper {
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:50px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
@media only screen and (max-width: 992px) {
    body.boxed #wrapper {
        margin-top:0;
        margin-bottom:0;

        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}




/** Color Background
 **************************************************************** **/
/*
    GRAIN BLUE BACKGROUND
*/
body.grain-blue,
body.grain-blue #wrapper,
body.grain-blue #topBar,
body.grain-blue #header.fixed,
body.grain-blue #header li.search .search-box,
body.grain-blue #header li.quick-cart .quick-cart-box,
body.grain-blue div.heading-title h1,
body.grain-blue div.heading-title h2,
body.grain-blue div.heading-title h3,
body.grain-blue div.heading-title h4,
body.grain-blue div.heading-title h5,
body.grain-blue div.heading-title h6 {
    background:#dce4e9  url('../images/grain_bg.png') repeat;
}
/*
    GRAIN GREY BACKGROUND
*/
body.grain-grey,
body.grain-grey #wrapper,
body.grain-grey #topBar,
body.grain-grey #header.fixed,
body.grain-grey #header li.search .search-box,
body.grain-grey #header li.quick-cart .quick-cart-box,
body.grain-grey div.heading-title h1,
body.grain-grey div.heading-title h2,
body.grain-grey div.heading-title h3,
body.grain-grey div.heading-title h4,
body.grain-grey div.heading-title h5,
body.grain-grey div.heading-title h6 {
    background:#f1f2f7  url('../images/grain_bg.png') repeat;
}
/*
    GRAIN GREEN BACKGROUND
*/
body.grain-green,
body.grain-green #wrapper,
body.grain-green #topBar,
body.grain-green #header.fixed,
body.grain-green #header li.search .search-box,
body.grain-green #header li.quick-cart .quick-cart-box,
body.grain-green div.heading-title h1,
body.grain-green div.heading-title h2,
body.grain-green div.heading-title h3,
body.grain-green div.heading-title h4,
body.grain-green div.heading-title h5,
body.grain-green div.heading-title h6 {
    background:#e6eeea  url('../images/grain_bg.png') repeat;
}
/*
    GRAIN ORANGE BACKGROUND
*/
body.grain-orange,
body.grain-orange #wrapper,
body.grain-orange #topBar,
body.grain-orange #header.fixed,
body.grain-orange #header li.search .search-box,
body.grain-orange #header li.quick-cart .quick-cart-box,
body.grain-orange div.heading-title h1,
body.grain-orange div.heading-title h2,
body.grain-orange div.heading-title h3,
body.grain-orange div.heading-title h4,
body.grain-orange div.heading-title h5,
body.grain-orange div.heading-title h6 {
    background:#fff4ea  url('../images/grain_bg.png') repeat;
}
/*
    GRAIN YELLOW BACKGROUND
*/
body.grain-yellow,
body.grain-yellow #wrapper,
body.grain-yellow #topBar,
body.grain-yellow #header.fixed,
body.grain-yellow #header li.search .search-box,
body.grain-yellow #header li.quick-cart .quick-cart-box,
body.grain-yellow div.heading-title h1,
body.grain-yellow div.heading-title h2,
body.grain-yellow div.heading-title h3,
body.grain-yellow div.heading-title h4,
body.grain-yellow div.heading-title h5,
body.grain-yellow div.heading-title h6 {
    background:#ffffe6  url('../images/grain_bg.png') repeat;
}

/* essentials.css rewrite : heading shortcode */
body.grain-blue div.heading-title.heading-line-single:before,
body.grain-grey div.heading-title.heading-line-single:before,
body.grain-green div.heading-title.heading-line-single:before,
body.grain-orange div.heading-title.heading-line-single:before,
body.grain-yellow div.heading-title.heading-line-single:before,

body.grain-blue div.heading-title.heading-line-double:before,
body.grain-grey div.heading-title.heading-line-double:before,
body.grain-green div.heading-title.heading-line-double:before
body.grain-orange div.heading-title.heading-line-double:before,
body.grain-yellow div.heading-title.heading-line-double:before {
    border-top: 3px double #ccc;
}


/* color header */
body.grain-blue #header,
body.grain-grey #header,
body.grain-green #header,
body.grain-orange #header,
body.grain-yellow #header {
    background-color:rgba(0,0,0,0.16);
}

body.grain-blue #header.dark,
body.grain-grey #header.dark,
body.grain-green #header.dark,
body.grain-orange #header.dark,
body.grain-yellow #header.dark {
    background-color:rgba(33,33,33,0.8);
}
body.grain-blue #header.dark.fixed,
body.grain-grey #header.dark.fixed,
body.grain-green #header.dark.fixed,
body.grain-orange #header.dark.fixed,
body.grain-yellow #header.dark .fixed{
    background-color:#333;
}

body.grain-blue section.page-header,
body.grain-grey section.page-header,
body.grain-green section.page-header,
body.grain-orange section.page-header,
body.grain-yellow section.page-header {
    border:0;
}

/** Slide Top
 **************************************************************** **/
#slidetop {
    color:#888;
    font-size:13px;
    background-color:#363839;
    z-index: 1500;
    position: absolute;
    top: 0; right: 0; left:0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#slidetop h1,
#slidetop h2,
#slidetop h3,
#slidetop h4,
#slidetop h5,
#slidetop h6 {
    font-size:13px;
    line-height:20px;
    color:#fff;
}

#slidetop ul {
    margin:0;
}
#slidetop a {
    color:#ccc;
    text-decoration:none;
}
#slidetop ul>li>a {
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width:100%;
}
#slidetop ul>li>a>i {
    margin-right:6px;
}
#slidetop h1>i,
#slidetop h2>i,
#slidetop h3>i,
#slidetop h4>i,
#slidetop h5>i,
#slidetop h6>i {
    margin-right:8px;
}
#slidetop a:hover {
    color:#fff;
}

#slidetop .container {
    display:none;
    height: auto;
    padding:30px 0;
}





